<div class="row">
  <div class="col s12 m12 l12">
    <input type="text" ng-model="shoppingListName" placeholder="Shopping List Name">
  </div>
</div>

<div class="row">
  <div class="col s12 m8 l8">
    <div class="card-panel teal">

      <input type="text" ng-model="searchText" placeholder="Search Recipes">

      <div class="collection" ng-repeat="recipe in recipes | filter:{$:searchText}">
          <a href="javascript:" class="collection-item" ng-click="addRecipeToList(recipe.name)">
              {{recipe.name}}
          </a>
      </div>

    </div>


  </div>

  <div class="col s12 m4 l4">
    <div class="card-panel teal">
      <input type="text" onkeydown="return false;" placeholder="Added Recipes">
      <div class="collection" ng-repeat="addedRecipe in addedRecipes">
          <a href="javascript:" class="collection-item" ng-click="removeRecipeFromList($index)">
              {{addedRecipe.name}}
          </a>
      </div>
    </div>

    <button class="waves-effect waves-light btn center-block" ng-click="saveShoppingList()">Save Shopping List</button>

  </div>
</div>
