<div class="row">
  <div class="col s12 m12 l12">
    <input type="text" ng-model="shoppingListName" placeholder="Shopping List Name">
  </div>
</div>

<div class="row">
  <div class="col s12 m8 l8">
    <div class="card-panel teal">

      <input type="text" ng-model="searchText" placeholder="Search Recipes">

      <ul class="collection" ng-repeat="recipe in recipes | filter:{$:searchText}">
          <li href="#!" class="collection-item">
            <div>{{recipe.name}}
              <a href="javascript:" class="secondary-content" ng-click="addRecipeToList(recipe.name)">
                <i class="material-icons">add</i>
              </a>
            </div>
          </li>
      </ul>

    </div>


  </div>

  <div class="col s12 m4 l4">
    <div class="card-panel teal">
      <input type="text" onkeydown="return false;" placeholder="Added Recipes">
      <ul class="collection" ng-repeat="addedRecipe in addedRecipes">
          <li href="#!" class="collection-item">
            {{addedRecipe.name}}
          </li>
      </ul>
    </div>

    <button class="waves-effect waves-light btn center-block" ng-click="saveShoppingList()">{{ ButtonMsg }}</button>

  </div>
</div>
